$max_device_width_desktop: 1366px;
$max_device_width_laptop: 1024px;
$max_device_width_tablet: 960px;
$max_device_width_mobile: 640px;

$color-light-xl: #ffffff;
$color-light-l: #cccccc;
$color-light-m: #808080;

$color-dark-xl: #000000;
$color-dark-l: #333333;

/*
@media screen and (max-width: $max_device_width_mobile), (max-device-width: $max_device_width_mobile) {
  
}
*/