@import "vars";
@import "fonts";
@import "reset";
@import "mixins";
@import "global";
@import "splide";

.header {
  width: 100%;
  height: 100vh;
  .header__nav {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 20px;
    background-color: transparent;
    transition: background-color 300ms;
    z-index: 1;
  }
  .header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    max-width: 1110px;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 10px 0;
    }
  }
  .header__nav.fixed {
    position: fixed;
    top: 0;
    background-color: rgba($color-dark-xl, 0.85);
  }
  .header-menu__list {
    display: flex;
    .header-menu__item {
      margin-right: 50px;
      line-height: 140%;
      &:last-child {
        margin-right: 0;
      }
    }
    .header-menu__link {
      position: relative;
      color: $color-light-xl;
      &::before {
        position: absolute;
        content: "";
        bottom: -8px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $color-light-xl;
        transition: width 300ms cubic-bezier(0.25, 1, 0.5, 1);
      }
      &:hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
  .header__caption {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .lang__list {
    display: flex;
    .lang__item {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
    .lang__link {
      color: $color-light-xl;
    }
    .active-lang {
      color: $color-light-m;
      cursor: default;
    }
  }

  .header__slider {
    position: relative;
    background-color: $color-dark-xl;
    width: 100%;
  }
  .splide__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 0;
    width: 100%;
    max-width: 1110px;
    height: 100%;
  }
  .header__title {
    margin-bottom: 90px;
    @include h2;
    color: $color-light-xl;
  }
  .header__btn {
    display: block;
    padding: 18px 32px;
    background-color: $color-light-l;
    max-width: max-content;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 300ms;
    &:hover {
      background-color: $color-light-xl;
      color: $color-dark-xl;
    }
  }
  .splide__pagination {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 0;
    right: calc((100% - 1110px) / 2);
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    gap: 20px;
    transform: translateY(-50%);
  }
  .splide__pagination__page {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/icons/round.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 18px;
    width: 18px;
    transition: background-image 200ms;
    &:hover {
      background-image: url(../images/icons/circle.svg);
    }
    &.is-active {
      position: relative;
      background-color: transparent;
      background-image: url(../images/icons/circle.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      border: 0;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: transparent;
        border: 1px solid rgba($color-light-xl, 0.2);
        border-radius: 50%;
        width: 18px;
        height: 18px;
      }
    }
    .loading {
      stroke-dashoffset: 0;
      stroke-dasharray: 54;
      animation: loading 10s linear;
    }
  }
}
@keyframes loading {
  from {
    stroke-dashoffset: 54;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.social__list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  width: max-content;
  .social__link {
    display: block;
    max-width: 24px;
    max-height: 24px;
    opacity: 0.5;
    transition: opacity 300ms;
    &:hover {
      opacity: 1;
    }
  }
}

.about,
.location,
.rooms,
.services,
.conditions {
  max-width: 1110px;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .about__inner {
    display: flex;
    flex-direction: column;
  }
  .about__content {
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 445px;
  }
  .about__text {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .about__image {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    max-width: 445px;
  }
  .scroll-to {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    animation-name: down;
    animation-duration: 1000ms;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-direction: alternate;
    .scroll-to__link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@keyframes down {
  from {
    bottom: 140px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .location__content {
    padding: 30px 0;
    column-count: 2;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 20px 0;
    }
  }
  .desc-box {
    margin: 0 auto;
    padding: 30px 0 30px 64px;
    background-repeat: no-repeat;
    background-position: left 0 top 53px;
    max-width: max-content;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 10px 0 10px 64px;
      background-position: left 0 top 33px;
    }
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 43px;
    }
  }
  .location__map {
    position: relative;
    max-height: 400px;
    .location__map-target {
      position: absolute;
      content: "";
      top: 185px;
      left: 460px;
      font-size: 10px;
      line-height: 14px;
      color: $color-light-xl;
      &::before {
        position: absolute;
        content: "";
        bottom: 75%;
        right: 90%;
        width: 48px;
        height: 48px;
        background-image: url(../images/icons/location.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .rooms__title {
    padding: 100px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 60px 0 40px 0;
    }
  }
  .splide__track {
    overflow: visible;
  }
  .splide__list {
    gap: 60px;
  }
  .descr__title {
    @include h5;
    padding: 20px 0 5px;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 10px 0 5px;
      line-height: 22px;
    }
  }
  .descr__list {
    padding-bottom: 20px;
    transition: all 300ms;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }
  @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
    .descr__item {
      position: relative;
      padding-right: 12px;
      margin-right: 8px;
      transition: all 300ms;
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: rgba($color-dark-xl, 0.2);
        border-radius: 50%;
        transform: translateY(-50%);
      }
      &:last-child::before {
        display: none;
      }
    }
  }
  .splide__arrows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      margin-top: 30px;
    }
  }
  .splide__arrow {
    margin: 0 10px;
    padding: 20px;
    border: 1px solid $color-light-xl;
    background-color: $color-light-xl;
    &:hover {
      border: 1px solid $color-dark-xl;
    }
    &--prev,
    &--next {
      background-image: url(../images/icons/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &--prev {
      transform: rotate(180deg);
    }
    &:disabled {
      opacity: 0.5;
    }
    &:hover:disabled {
      opacity: 0.5;
      border: 1px solid transparent;
      cursor: not-allowed;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .services__title {
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: $max_device_width_laptop), (max-device-width: $max_device_width_laptop) {
      padding: 60px 0 50px;
    }
  }
  .services__descr {
    max-width: 445px;
  }
  .services__content {
    column-gap: 30px;
    column-count: 3;
  }
  .services__list {
    padding-bottom: 26px;
    max-width: 350px;
    break-inside: avoid-column;
    &:last-child {
      padding: 0;
    }
  }
  .list-heading {
    @include h5;
    margin-bottom: 4px;
  }
}

.conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .conditions__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .conditions__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px 0;
    width: 100%;
  }
  .conditions__title {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .conditions__content,
  .conditions__descr {
    max-width: 445px;
  }
  .conditions__descr p {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .conditions-time,
  .conditions-old {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .desc-box span {
    font-weight: 700;
    font-size: 24px;
    line-height: 43px;
    .time-sub {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      text-decoration: underline;
    }
  }
}

.feedback {
  background-image: url(../images/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .feedback__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1110px;
    height: 100%;
  }
  .feedback__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .feedback__request,
  .feedback__contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 445px;
  }
  .feedback__title {
    margin-bottom: 50px;
    @include h4;
    color: $color-light-xl;
  }
  .feedback__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 350px;
  }
  .feedback__form-btn {
    margin-top: 25px;
  }
  .feedback__privacy {
    font-size: 10px;
    line-height: 14px;
    color: $color-light-l;
    & a {
      color: $color-light-l;
      text-decoration: underline;
      &:hover {
        color: $color-light-xl;
      }
    }
  }
  .contacts__content,
  .contacts__content a {
    color: $color-light-xl;
    font-style: normal;
    p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .contacts__title {
    @include h5;
  }
  .contacts__social {
    margin-top: 50px;
  }
}

@import "media";
